//---------- Content ----------//
section.section.section-about#me
	.container
		.row
			.col-3
				.card
					figure
						img(src="//placehold.it/300x300")
						figcaption
							h4.caption-title Caption title
							p.caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo, inventore facilis, quos autem iusto necessitatibus doloribus animi consectetur, adipisci delectus. Eaque exercitationem tempore, impedit doloremque eveniet cum voluptatem nesciunt!
			
			.col-3
				.card
					figure
						img(src="//placehold.it/300x300")
						figcaption
							h4.caption-title Caption title
							p.caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo, inventore facilis, quos autem iusto necessitatibus doloribus animi consectetur, adipisci delectus. Eaque exercitationem tempore, impedit doloremque eveniet cum voluptatem nesciunt!

			.col-3
				.card
					figure
						img(src="//placehold.it/300x300")
						figcaption
							h4.caption-title Caption title
							p.caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo, inventore facilis, quos autem iusto necessitatibus doloribus animi consectetur, adipisci delectus. Eaque exercitationem tempore, impedit doloremque eveniet cum voluptatem nesciunt!