//---------- Content ----------//
section.section.section-me#me
	.container
		.row
			.one-third-col
				h1 title
				p.blurp Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, omnis beatae maxime quis, voluptatibus quibusdam delectus, optio quisquam mollitia, officia fuga. Facilis tempore eum saepe dignissimos, mollitia quae exercitationem quis!

			.two-thirds-col
				img(src="//placehold.it/800x600", alt="profile picture")